/* fonts */
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

h6{
	font-family: 'Ubuntu', sans-serif;
}
a .logo{
	font-family: 'Inconsolata', monospace;
}
nav a{
	font-family: 'Playfair Display', serif;
}
p{
	font-family: 'Playfair Display', serif;
}
h2{
	font-family: 'Playfair Display', serif;
}



/*header*/

header{
	width: 1062px;
	margin: 0 auto;
	padding: 60px;

}

.logo {
	width: 100px;
	font-size: 25px;
	display: inline-block;
	text-transform: uppercase;
	margin-top: 13px;
	color: black;
	font-family: 'Inconsolata', monospace;

}
.clear {
	clear: both;
}
nav{
	display: inline-block;
	float: right;

}
nav a{
	color: #626262;
}

nav ul {
	display: flex;
}

a{
	display: block;
}

header li{
	display: inline-block;
	text-align: center;
	margin-left: 107px;
	color:#F0F0F0;

}
/*banner */

#banner{
	width: 100%;
}

 img.img-banner{
 	display: block;
	width: 1062px;
	margin: 0 auto;
	margin-bottom: 97px;	
}

/* text */

 .weekend{
	width: 900px;
	margin:0 auto;
	margin-bottom:120px;
}
.weekend h6{
	color: #B4AD9E;
	margin-bottom: 25px;
}
.weekend h2{
	font-family: 'Playfair Display', serif;
	color:#626262;
	margin-bottom: 35px;
}
.weekend p{
	font-family: 'Playfair Display', serif;
	width: 900px;
	color:#626262;
	margin-bottom: 77px;
}

/* container */

.Container{
	margin:0 auto;
	width: 900px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.Box {
    display:inline-block;
    height: 610px;
    box-sizing: border-box;
    flex: 0 420px;
}

.Box img{
	width: 100%;
	margin-bottom: 30px;
}
.Box h6{
	margin-bottom: 23px;
	color: #B4AD9E;

}
.img-wrapper{
	padding:0;
}
.Box h2{
	margin-bottom: 30px;
	color:#626262;
}
.Box p{
display: inline-block;
color:#626262;
width: 420px;
}


/* Mail */

.Mail{
	width: 100%;
	height: 280px;
	padding: 0;
	background-color: #F0F0F0;
	margin-bottom: 100px;
	position: relative;

}

.Mail h2{
	width: 50%;
	text-align: center;
	margin: 0 auto;
	padding-top: 70px;

}

.Contact input{
	background:none;
	outline: none;
	border:none;
	border-bottom: 2px solid black;
	width: 400px;
	display: block;
	margin: 0 auto;
	padding-top: 80px;

}

.arrive{
	display: block;
	position:absolute;
	margin-left:60.5%;
	margin-top: 75px;
}


/* Lifestyle */

section #Lifestyle{
	margin-top: 100px;
}


/* loading */

.button {
	font-family: 'Playfair Display', serif;
    position: relative;
    background-color: white;
    border: 2px solid #F0F0F0;
    font-size: 15px;
    color: #626262;
    width: 164px;
    height: 60px;
    display: block;
    margin: 35px auto;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #F0F0F0;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}


/*footer */

footer img{
	height: 17px;
	color: #626262;

}

footer{
	width: 100%;
	height: 98px;
	background-color:#F0F0F0;
	margin-top:135px;
}
footer a{
	color:black;
}

footer .footer-wrap{
	float:left;
	margin-left: 130px;
}

footer .footer-wrapper{
	
	float: right;
	margin-right: 150px;
	padding:0;
}
footer li{
	padding :24px;
	display: inline-block;
	color:#F0F0F0;
}
